.address--grey {
  background-color: #f2f2f2;
}

.address img {
  width: 100%;
  display: block;
}

.address__contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    /*width: 625px;*/
    margin-top: 47px;
    margin-bottom: 41px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 41px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    justify-content: center;
    width: 570px;
    height: 201px;
    position: absolute;
    top: 50px;
    background-color: #ffffff;
  }
}
