.comments {
  padding: 0;
  margin-bottom: 19px;
  border: none;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.comments__heading {
  text-align: left;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 38px;
  position: relative;
  background-color: #ffffff;
  display: inline-block;
  padding-right: 22px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    background: #68b738;
    width: 10000px;
    top: 16px;
    left: 0;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;

    &::after {
      top: 22px;
      left: -2466px;
    }
  }
}

.comments__textarea {
  height: 150px;
  resize: none;
  padding: 10px 11px;

  @media (min-width: $tablet-width) {
    height: 174px;
    padding: 10px 19px;
  }
}
