.connection {
  border: none;
  padding: 0;
  padding-bottom: 24px;
  text-align: left;
}

.connection__heading {
  text-align: left;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
  position: relative;
  background-color: #ffffff;
  display: inline-block;
  padding: 0 6px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    background: #68b738;
    width: 10000px;
    top: 16px;
    left: 0;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 6px;
    margin-bottom: 76px;

    br {
      display: none;
    }

    &::after {
      top: 22px;
      left: -2466px;
    }
  }
}

.connection__mail-tel {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
  }
}

.connection__description {
  display: flex;
  align-items: center;
  height: 45px;
  position: relative;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    height: 52px;
    margin-bottom: 20px;
  }
}

.connection__input-wrapper {
  position: relative;
  flex-grow: 1;

  svg {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    path,
    line {
      transition: all 0.25s;
    }
  }
}

.input-enter:focus + svg {
  &.icon-mail {
    path,
    line {
      stroke: #68b738;
    }
  }

  &.icon-phone {
    path {
      fill: #68b738;
    }
  }
}

.input-enter:invalid + svg {
  &.icon-mail {
    path,
    line {
      stroke: #ff8282;
    }
  }

  &.icon-phone {
    path {
      fill: #ff8282;
    }
  }
}

.connection__label-mail {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 11px;
  width: 50px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 74px;
  }
}

.connection__label-tel {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 11px;
  width: 66px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 84px;
  }
}
