.contacts__title {
  text-align: left;
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase; /*все заглавные*/
  margin-right: 2px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 170px;
  }

  @media (min-width: $desktop-width) {
    width: 209px;
    margin-top: 66px;
    margin-right: 42px;
  }
}

.contacts__description {
  font-family: "Arial", sans-serif;
  width: 140px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    width: 159px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    width: 176px;
    margin-top: 66px;
  }
}
