.contacts__title {
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase; /*все заглавные*/
  width: 139px;
  margin-right: 2px;
}

.contacts__description {
  font-family: "Arial", sans-serif;
  width: 140px;
  line-height: 20px;
}
