.end {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 52px;
  }
}

.end__button {
  padding: 7px 77px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    padding: 13px 65px;
    margin-right: 61px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 13px 188px;
    margin-right: 120px;
  }
}

.end__description {
  font-family: "Arial", sans-serif;
  text-align: center;
  line-height: 16px;
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 16px;
  }
}
