.example {
  background-color: #eaeaea;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: inherit;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 462px;
      position: absolute;
      bottom: 0;
      background-color: #eaeaea;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 656px;
  }
}

.example__wrap {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    width: 500px;
  }
}

.example__heading {
  margin: 0;
  text-align: left;
  padding-top: 27px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    margin-bottom: 146px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 26px;
  font-family: "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 440px;
    margin-bottom: 69px;
  }
}

.example__container {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 59px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;
  }
}

.example__purpose {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 56px;
  justify-content: space-between;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    width: 408px;
    height: 77px;
    justify-content: flex-start;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 55px;
  }
}

.example__min {
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 160px;
    margin-right: 42px;
  }
}

.example__max {
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 160px;
    margin-right: 42px;
  }
}

.example__min-title {
  width: 77px;
  position: absolute;
  top: 35px;
  left: 24px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    width: 126px;
    font-size: 14px;
    line-height: 14px;
    top: 53px;
    left: 19px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.example__max-title {
  width: 77px;
  position: absolute;
  top: 35px;
  left: 24px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    width: 146px;
    font-size: 14px;
    line-height: 14px;
    top: 53px;
    left: 7px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.example__min-weight,
.example__max-weight {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 18px;
  margin: 0;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__cash {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 180px;
    justify-content: flex-end;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: unset;
    width: 327px;
    justify-content: space-between;
  }
}

.example__cash-description {
  margin-right: 5px;

  @media (min-width: $tablet-width) {
    margin: 4px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }
}

.example__cat {
  margin-bottom: 23px;
  width: 280px;
  height: 232px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 620px;
  }
}

.example__slider-button {
  border: none;
  background-color: transparent;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  padding: 0;
}

.example__slider {
  @media (min-width: $desktop-width) {
    /*margin-top: -143px;*/
    margin: 0 auto;
  }
}

.example__image {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 33px;

    /*&::before {
      content: "";
      display: block;
      width: 100%;
      height: 462px;
      position: absolute;
      bottom: 0;
      background-color: #eaeaea;
      z-index: -1;
    }*/
  }
}

.example__pic {
  padding-bottom: 25px;
  position: relative;
  height: 232px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-bottom: 33px;
    height: 622px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    /*position: absolute;
    top: 21px;
    left: 0;
    right: 0;
*/
    padding: 20px 0 0;
    position: relative;
    /*height: 520px;*/
  }
}

.example__pic-wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    /*background-color: revert;*/
  }

  @media (min-width: $desktop-width) {
    /*position: relative;*/
  }
}

.example__pic-wrap--after {
  overflow: hidden;
}

.toggle-controls__scale {
  @media (min-width: $tablet-width) {
    width: 428px;
  }
}

/*тоглер по макету*/
.example--controls {
  position: relative;
}

.example--scale { /*общая шкала*/
  position: relative;
  /*display: flex;
  align-items: center;*/
  margin: 0 auto;
  width: 130px;
  height: 14px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    background: #dcdcdc;
    border: none;
    height: 6px;
    width: 428px;
  }
}

.example--bar {
  position: absolute;
  margin: 3px;
  width: 65px;
  height: 8px;
  background: #68b738;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.example--toggler {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    box-sizing: content-box;
    padding: 0;
    top: -8px;
    left: 50%;
    width: 6px;
    height: 6px;
    border: 8px solid #ffffff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  }
}

.example--toggler-min { /*положение курсора левого*/
  @media (min-width: $tablet-width) {
    background-color: #68b738;
  }
}
