.food {
  position: relative;
  /*width: 320px;*/
  /*background-image: url("../img/cat-green.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/

  @media (min-width: $tablet-width) {
    background-image: none;
    /*width: 664px;
    padding-left: 30px;
    padding-right: 30px;*/
  }

  @media (min-width: $desktop-width) {
    /*background-image: url("../img/cat-green-max.jpg");
    background-repeat: no-repeat;
    /*position: absolute;
    right: 0;
    top: -50px;*/
    width: 1220px;
    height: 535px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.food::before {
  content: "";
  display: block;
  width: 100%;
  height: 62%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #68b738;
  opacity: 85%;
  background-image: url("../img/cat-green.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.food__heading {
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 25px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    color: #000000;
  }
}

.food__button {
  padding: 7px 72px;
  /*margin-top: 56px;*/
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    margin-top: 56px;
    margin-bottom: 526px;
    display: block;
    width: 244px;
    /*height: 54px;*/
    margin-left: 91px;
    font-size: 20px;
    line-height: 20px;
  }
}

.food__description {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 302px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 87px;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.food__cup {
  display: block;
  position: absolute;
  top: 167px;

  @media (min-width: $tablet-width) {
    z-index: -1;
    top: 225px;
  }

  @media (min-width: $desktop-width) {
    top: -63px;
    left: 560px;
    width: 552px;
    height: 499px;
    z-index: 2;
  }
}
