.food {
  position: relative;

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    min-height: 535px;
  }
}

.food::before {
  content: "";
  display: block;
  width: 100%;
  height: 62%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #68b738;
  opacity: 85%;
  background-image: url("../img/cat-green.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.food__wrapper {
  padding-top: 27px;
}

.food__heading {
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: #000000;
  }
}

.food__button {
  /*position: absolute;*/
  padding: 7px 72px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    margin-top: 60px;
    margin-bottom: 526px;
    display: block;
    width: 244px;
    margin-left: 82px;
    /*top: 250px;*/
    font-size: 20px;
    line-height: 20px;
    /*left: 87px;*/
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    /*left: 80px;*/
  }
}

.food__description {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 302px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 87px;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    /*margin-bottom: 662px;*/
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    width: 500px;
    margin-bottom: 49px;
  }
}

.food__cup {
  position: absolute;
  top: 167px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    display: block;
    z-index: -1;
    top: 225px;
  }

  @media (min-width: $desktop-width) {
    top: -63px;
    width: 552px;
    height: 499px;
    z-index: 2;
    transform: translateX(-30%);
  }
}
