.goals {
  margin-top: 22px;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.goals__heading {
  text-align: center;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    width: 50%;
    text-align: left;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: center;
    margin-bottom: 73px;
  }
}

.goals__list {
  padding: 0;
  list-style: none;
  margin: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.goals__item {
  padding: 30px 19px 22px;
  margin-bottom: 20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 77px 53px 53px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    /*width: 466px;
    margin-right: 80px;*/
  }
}

.goals__item--thin {
  background-image: url("../img/index/thin.svg");
  background-repeat: no-repeat;
  background-size: 50px 53px;
  background-position-x: 10%;
  background-position-y: 10%;

  @media (min-width: $tablet-width) {
    background-size: 200px 211px;
    background-position-x: 90%;
    background-position-y: center;
  }

  @media (min-width: $desktop-width) {
    background-size: 100px 108px;
    background-position-x: 10%;
    background-position-y: 10%;
  }
}

.goals__item--thick {
  background-image: url("../img/index/thick.svg");
  background-repeat: no-repeat;
  background-size: 50px 53px;
  background-position-x: 10%;
  background-position-y: 10%;

  @media (min-width: $tablet-width) {
    background-size: 268px 200px;
    background-position-x: 90%;
    background-position-y: center;
  }

  @media (min-width: $desktop-width) {
    background-size: 134px 100px;
    background-position-x: 10%;
    background-position-y: 10%;
  }
}

.goals__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  text-align: left;
  padding-left: 1px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    width: 50%;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.goals__button {
  display: block;
  padding-top: 19px;
  text-align: left;
  text-decoration: none;
  color: #000000;
  line-height: 16px;
  background-image: url("../img/index/arrow.svg");
  background-repeat: no-repeat;
  background-size: 24px 12px;
  background-position-x: 90px;
  background-position-y: 20px;
  cursor: pointer;

  &:hover {
    background-image: url("../img/index/arrow32.svg");
    background-size: 32px 12px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 0;
    background-position-x: 110px;
    background-position-y: 10px;
  }
}

/*.goals__button--arrow {
  background-image: url("../img/index/arrow.svg");
  background-repeat: no-repeat;
  background-size: 24px 12px;
  background-position-x: 10%;
  background-position-y: 10%;
}*/
