.other {
  border: none;
  padding: 0;
  padding-bottom: 34px;
}

.other__heading {
  text-align: left;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;
  }
}

.other__list {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.other__item {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-left: 40px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
    padding-left: 53px;
  }
}

.other__item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.other__input + label::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -38px;
  width: 30px;
  height: 30px;
  background-image: url("../img/form/cube.svg");
  background-size: 30px 30px;
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: -4px;
    left: -55px;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }
}

.other__input + label:hover::before {
  @media (min-width: $tablet-width) {
    background-image: url("../img/form/cube-hover.svg");
  }
}

.other__input:checked + label::before {
  background-image: url("../img/form/cube-on.svg");
  background-size: 30px 30px;

  @media (min-width: $tablet-width) {
    background-size: 40px 40px;
  }
}
