.page-footer__academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 20px;
}

.page-footer__icon {
  width: 280px;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9d9;
}
