.page-header {
  height: 65px;

  @media (min-width: $tablet-width) {
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    height: 162px;
  }
}

.page-header__logo {
  float: left;
}

.page-header__toggle {
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
