.page-footer__address {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.page-footer__links {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 708px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    /*display: flex;*/
    width: 1220px;
    height: 149px;
    /*margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;*/
  }
}
