.social {
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 75px;
  padding-right: 75px;
  width: 130px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}
