.button {
  text-align: center;
  background-color: #68b738;
  text-decoration: none; /*убираем подчеркивание у ссылок*/
  color: #ffffff;
  text-transform: uppercase;

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);
  }
}
