.page-main {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
}
.goals__item {
  padding-left: 19px;
  margin-bottom: 20px;
}
.goals__list {
  padding: 0;
  list-style: none;
  background-color: #F2F2F2;
}
.goals__item--thin {

}
.goals__description {
  font-family: Arial;
  text-align: left;
  padding-left: 1px;
}
.goals__button {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #000000;
  line-height: 16px;
}
.advantages__list  {
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
  list-style: none;
}
